.container {
  display:grid;
  grid-template-columns: auto auto;
}
.right{
align-items: flex-end;
}

.left{
  align-items: flex-start;
}

.droptarget {
 
  width: 100px;
  height: 35px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.dropzone {
  width: 100px;
  height: 35px;
  margin: 15px;
  padding: 10px;
  border: 1px solid black;
}